= form_for @location do |f|
  .card.mt-4.mb-4
    .card-header 
      %h1=title
    .card-body  
      = render 'layouts/model_errors', resource: @location

      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"
      .form-group
        = f.label :latitude
        = f.text_field :latitude, class: "form-control"
      .form-group
        = f.label :longitude
        = f.text_field :longitude, class: "form-control"
      .form-group 
        = f.label :image 
        = f.text_field :image, class: "form-control"
      .form-group
        = f.label :category
        = f.select :category, categories_for_select, {}, {class: "form-control"}
    .card-footer
      .form-group
        = f.submit 'Save', class: "btn btn-primary"
        = link_to "Back", locations_path
