.card 
  = image_tag location.image, alt: location.name, class: 'card-img-top'
  .card-body 
    %h2.card-title=location.name
    %small.text-muted Created by #{location.user.name}
    %span.badge.badge-primary=location.category
    %p.card-text.text-justify.mt-3=location.description
    #map{style: "height: 300px; width: 100%"}
  - if editable_by_current_user?(location)
    .card-footer 
      = button_to "Edit", edit_location_path(location), class: "btn btn-warning", method: "get"
      = button_to "Delete", location, method: "delete", class: "btn btn-danger", method: "delete"


:javascript
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var uluru = {lat: #{location.latitude}, lng: #{location.longitude}};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 15, center: uluru});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
  }
/
  Load the API from the specified URL
  * The async attribute allows the browser to render the page while the API loads
  * The key parameter will contain your own API key (which is not needed for this tutorial)
  * The callback parameter executes the initMap() function
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyC44VyGXZ-9yZ0qrAtqij82pykgvtjKaK4&callback=initMap"}
  :cdata 
