%h1.text-center.mt-4.mb-4 Best city locations
.row 
  .col-12.col-md-6.offset-md-3
    - if @locations.count > 0
      .list-group
        = render @locations 
    - else 
      .alert.alert-warning #{@query? "No locations match your search" : "No locations registered yet"}
