%nav.navbar.navbar-expand-md.navbar-light.bg-light
  = link_to "City guide", root_path, class: "navbar-brand"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: active_class(locations_path)}
        = link_to "Locations", locations_path, class: "nav-link"
      - if user_signed_in?
        %li.nav-item{class: active_class(new_location_path)}
          = link_to "New location", new_location_path, class: "nav-link"
    = form_tag locations_path, method: "get", class: "form-inline my-2 my-lg-0" do
      = search_field_tag "query", @query ? @query : nil, {class: "form-control mr-sm-2", placeholder: "Search", "aria-label": "Search"}
      = submit_tag "Search", {class: "btn btn-outline-success my-2 my-sm-0"}
  - if user_signed_in?
    = button_to "Sign out", sign_out_path, method: "delete", class: "btn btn-danger ml-4"
  - else 
    = link_to 'Sign in', sign_in_path, class: 'btn btn-primary ml-4'