- if resource.errors.any?
  .alert.alert-danger
    %h2= "#{pluralize(resource.errors.count, "error")} prohibited this location from being saved:"
    %ul
      - resource.errors.full_messages.each do |message|
        %li= message